chardet==2.3.0
colorama==0.3.3
command-not-found==0.3
html5lib==0.999
language-selector==0.1
pycurl==7.19.5.1
pygobject==3.16.2
python-apt===1.0.1-ubuntu0.1
python-debian==0.1.27
requests==2.7.0
six==1.9.0
ssh-import-id==4.5
ufw==0.34
unattended-upgrades==0.1
urllib3==1.11
virtualenv==13.1.2
wheel==0.26.0
